

<div class="footer container-fluid bg-black text-white">
    <div class="row">
        <div class="col leftside">
            <div>
                <h2>GET IN TOUCH</h2>
            </div>
            <table>
                <tr>
                    
                    <th class="p-1">
                    <img src="https://c8.alamy.com/comp/2C5HDAY/online-shop-logo-design-vector-illustrtaion-mobile-online-shopping-logo-vector-template-2C5HDAY.jpg" style="width: 50px;height: 50px; border-radius: 50%; margin-right:6px;"> 
                    </th>
                    
                </tr>
                <tr>
                    <th class="p-1">
                        <strong>shopyii</strong>
                    </th>
                </tr>
            </table>
        </div>
        <div class="col middleside text-center d-flex align-items-center justify-content-end">
            <span class="border border-light p-2 w-50"> FOLLOW US </span>
        </div>
        <div class="col rightside d-flex align-items-center justify-content-end">
                <ul style="list-style: none;">
                    <li>
                        <a href="#" style="color: #4867AA; ">
                            <span class="icon-link m-2 ">FaceBook</span>  
                           <fa-icon [icon]="faFacebook"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#" style="color:#1DA1F2">
                            <span class="icon-link m-2 ">Twitter</span> 
                            <fa-icon [icon]="faTwitter"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#" style="color:#f2521d">
                            <span class="icon-link m-2 ">Instgram</span> 
                            <fa-icon [icon]=" faInstgram"></fa-icon>
                        </a>
                    </li>
                   
                </ul>

            </div>
        </div>
    </div>
