.main {
    width: 90%;
    height: 80vh;
    margin: auto;
}
#instock {
    padding: 5px 20px 5px 20px;
    background-color: green;
    border-radius: 50px;
}
#outstock {
    padding: 5px 20px 5px 20px;
    background-color: red;
    border-radius: 50px;
}
.minfo {
    padding: 5px 20px 5px 20px;
    font-size: 16px;
    border-radius: 50px;
}
.plusminusbtn {
    padding:10px 0px 10px 0px;
    border-radius: 50px;
}
.graybg {
    background-color: rgb(197, 197, 197);
}
.buy {
    color: white;
    background-color: rgb(2, 80, 2);
}
.addcart {
    color: rgb(2, 80, 2);
    border: 1px solid rgb(2, 80, 2);
    background-color: none;
}
.clickable:hover {
    cursor: pointer;
}